.todos {
  background: white;
  border-radius: 0.375rem;
  -webkit-box-shadow: -1px -1px 21px 9px rgba(0, 0, 0, 0.16);
  -moz-box-shadow: -1px -1px 21px 9px rgba(0, 0, 0, 0.16);
  box-shadow: -1px -1px 21px 9px rgba(0, 0, 0, 0.16);
  font-size: 0.875rem;

  margin: auto;
  ul {
    list-style: none;
    padding: 0;
  }

  &__info {
    display: flex;
    justify-content: space-between;
    padding: 1.5rem;

    .last {
      cursor: pointer;
    }
  }

  &__filters {
    display: none;
    span {
      cursor: pointer;
    }

    @media only screen and (min-width: 600px) {
      display: flex;
      justify-content: space-around;
      width: 60%;
    }
  }

  &--filters {
    background: white;
    border-radius: 0.375rem;
    display: flex;
    justify-content: space-around;
    margin-top: 1rem;
    padding: 1.5rem;

    span {
      cursor: pointer;
    }

    @media only screen and (min-width: 600px) {
      display: none;
    }
  }
}

.todo-item {
  align-items: center;
  border-bottom: 1px solid hsl(236, 33%, 92%);
  display: flex;
  justify-content: space-between;
  padding: 1.5rem;

  li {
    &.completed {
      text-decoration: line-through;
    }

    &.removeTodo {
      align-items: center;
      cursor: pointer;
      font-size: 2rem;
    }
  }
}
